# Backup files #
################
*.*~
*.ipynb_checkpoints*
backup/
Wood_old*

# Libraries #
#############
Beams
Wood
Older_Classes

# Editing Files #
#################
MarkedChanges.txt
Warnings.txt
Untitled*

# Original Code sources #
#########################
nblinkcheck

# HTML versions of the files #
##############################
*.html

# LeTeX versions and pdfs #
###########################
*.tex
*.swp
*.pdf
